.card-product .card-img-top{
	height: 220px;
    object-fit: contain;
}
.card-product .discount{
	position: absolute;
    right: 0;
    background: #e75353;
    color: white;
    border-radius: 8%;
    padding: 8px;
}
.card-product .btn-buy>img{
	height: 25px;
	margin: 2px;
}
.card-product .btn-buy{
	background-color: white;
	padding: 2px;
	border-radius: 50%;
	border-width: 2px;
	border-color: #00000020;
}
